In [99]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [28]:
orange_data = pd.read_csv('orange.csv')
print("Data set shape : ", orange_data.shape)
orange_data.head()

Data set shape :  (35, 4)

   Unnamed: 0  Tree   age  circumference
0           1     1   118             30
1           2     1   484             58
2           3     1   664             87
3           4     1  1004            115
4           5     1  1231            120

## Let's rename and set_Index column : Unnamed: 0

In [29]:
orange_df = orange_data.rename(columns={'Unnamed: 0':'Sequence'})
orange_df.head()
orange_data_set = orange_df.set_index('Sequence')
orange_data_set.head()

          Tree   age  circumference
Sequence
1            1   118             30
2            1   484             58
3            1   664             87
4            1  1004            115
5            1  1231            120

## Put up a OLS Regression regression model on data  : orange_data_set

In [100]:
formula_1= 'circumference ~ age'  # ANCOVA formula
model_1 = ols(formula_1, orange_data_set).fit()
#print(model_1.summary())
print(model_1.rsquared)

0.8345166945883684

## Put up a another OLS Regression regression model on data  : orange_data_set

In [104]:
from statsmodels.formula.api import ols
formula_2= 'circumference ~ age + C(Tree)'   # ANCOVA formula
model_2 = ols(formula_2, orange_data_set).fit()
#print(model_2.summary())
print(model_2.rsquared)

0.9398940065426404

## Let's do ANOVA Test

In [107]:
anova_test = sm.stats.anova_lm(model_1, model_2)
print (anova_test)

   df_resid           ssr  df_diff       ss_diff          F    Pr(>F)
0      33.0  18594.744377      0.0           NaN        NaN       NaN
1      29.0   6753.887234      4.0  11840.857143  12.710638  0.000004

/anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)