In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn import svm
from sklearn.metrics import roc_curve, auc
import matplotlib.pyplot as plt
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,StandardScaler
from sklearn.linear_model import LogisticRegression,PassiveAggressiveClassifier
# import pydotplus

C:\Users\Subir\anaconda3\lib\site-packages\sklearn\externals\six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [2]:
# overview of the data
### Reading the iris dataset
data=pd.read_excel('C:/Users/Subir/Learn Bay/Dataset/iris.xls')
data.head(3)

,sepal length,sepal width,petal length,petal width,iris,Unnamed: 5,Unnamed: 6,sepal length.1,Unnamed: 8
0,5.1,3.5,1.4,0.2,Iris-setosa,NaN,NaN,Count,150.0
1,4.9,3.0,1.4,0.2,Iris-setosa,NaN,NaN,Minimum,4.3
2,4.7,3.2,1.3,0.2,Iris-setosa,NaN,NaN,Maximum,7.9

In [3]:
data = data.drop(['Unnamed: 5','Unnamed: 6','sepal length.1', 'Unnamed: 8'], axis = 1)

In [4]:
data.head()

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
# we convert the categorial data into numerical data using LabelEncoder()
le = LabelEncoder()
data['iris']=le.fit_transform(data['iris'])
label={0:'Iris-setosa',1:'Iris-versicolor',2:'Iris-virginica'}

In [11]:
# we choose feature_names and target values from the data and split the data into train and test data
X=data.drop(['iris'],axis=1)
y=data['iris']
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.30)

In [7]:
# Train the model LogisticRegression

model = LogisticRegression()
model.fit(x_train,y_train)

C:\Users\Subir\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Subir\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [8]:
# print metric to get performance
print("Accuracy: ",model.score(x_test, y_test) * 100)

Accuracy:  93.33333333333333

In [12]:
# KNN 

from sklearn.neighbors import KNeighborsClassifier  
model  = KNeighborsClassifier()
model.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [13]:
print("Accuracy:",model.score(x_test,y_test)*100)

Accuracy: 100.0